/*  Button on dashboard */
.fontawesome-icon {
    -fx-fill: #F4F4F4;
}

.button {
    -fx-background-color: none;
    -fx-background-radius: 0em;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #6a777e;
    -fx-background-color: #5691d0;
}

.button:pressed {
    -fx-background-color: #6a777e;
    -fx-background-color: #5691d0;
    -fx-border-color: #505050;
    -fx-border-color: #59a2ea;
    -fx-border-width: 0px 0px 0px 3px;
}

#button {
    -fx-background-color: #6a777e;
    -fx-background-color: #5691d0;
    -fx-border-color: #505050;
    -fx-border-color: #59a2ea;
    -fx-border-width: 0px 0px 0px 3px;
}

.vbox {
    -fx-background-color: #3d80c9;
}

.hbox {
    -fx-background-color: #3d80c9;
}

/* ------------------------------------------------------------------------------------- */
/** EVENT CSS **/
/* ------------------------------------------------------------------------------------- */
/* Kích thước my button font 12px */
.my-button12 {
    -fx-background-color: none;
    -fx-background-radius: 0em;
    -fx-text-fill: black;
    -fx-font-size: 12px;
}

/* Kích thước my button font 14px */
.my-button14 {
    -fx-background-color: none;
    -fx-background-radius: 0em;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}
/* Kích thước my label font 12px */
.my-label12 {
    -fx-background-color: none;
    -fx-background-radius: 0em;
    -fx-text-fill: black;
    -fx-font-size: 12px;
}
/* Kích thước my label font 14px */
.my-label14 {
    -fx-background-color: none;
    -fx-background-radius: 0em;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}