.fontawesome-icon {
    -fx-fill: #F4F4F4;
}

#bookmark {
    -fx-fill: none;
    -fx-stroke: #e3e36c;
    -fx-stroke-width: 2px
}

#bookmarked {
    -fx-fill: #d5d538;
    -fx-stroke-type: inside;
}

#listbutton-icon {
    -fx-fill: #b0b0b0;
}

#listbutton-icon-selected {
    -fx-fill: #f1f1f1;
}

#wordtype {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-fill: #147288;
}

#wordirregular {
    -fx-font-size: 12px;
    -fx-fill: #17a9b0;
}

#wordmean {
    -fx-font-size: 14px;
    -fx-fill: #191919;
}

#wordexample {
    -fx-font-style: italic;
    -fx-font-size: 14px;
    -fx-fill: #191919;
}


.list-button {
    -fx-background-color: none;
    -fx-text-fill: #F4F4F4;
    -fx-border-width: 0em;
}

.list-button:hover {
    -fx-background-color: #4d91d3;
}

/*
.listButton:pressed {
    -fx-background-color: #9fa3a6;
    -fx-border-width: 0em;
}
*/

/*  Button   */
.normal-button {
    -fx-background-color: none;
    -fx-text-fill: #191919;
    -fx-background-radius: 0em;
}

.normal-button:hover {
    -fx-background-color: #bdc2c5;
    -fx-border-width: none;
    -fx-background-radius: 0em;
    -fx-background-insets: 0.1em;
}
.normal-button:pressed {
    -fx-background-color: #a4a8ab;
    -fx-border-width: none;
    -fx-background-radius: 0em;
    -fx-background-insets: 0.1em;
}


.button-bar {
    -fx-background-color: #2b76bd;
}

/*  Text field   */
.text {
    -fx-text-fill: white;
}

.search-field {
    -fx-background-color: none;
    -fx-background-radius: 2em;
}

.search-box {
    -fx-background-color: #F4F4F4;
}

.search-field:focused .search-box {
    -fx-border-color: #d2204a;
}


.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport{
    -fx-background-color: transparent;
}

.scroll-pane .content{
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:horizontal ,
.scroll-pane .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.scroll-pane .increment-button ,.scroll-pane .decrement-button {
    -fx-background-color:transparent;
    -fx-border-color:derive(rgb(128, 128, 128),80%);
}

.scroll-pane .scroll-bar:horizontal .track ,
.scroll-pane .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color:derive(rgb(128, 128, 128),80%);
    -fx-background-radius: 0em;
}

.scroll-pane .scroll-bar:horizontal .thumb,
.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;
}

.scroll-pane .scroll-bar .thumb:hover,
.scroll-pane .scroll-bar .thumb:pressed{
    -fx-background-color: derive(black,50%);
}

.scroll-pane .scroll-bar:horizontal:hover .track ,
.scroll-pane .scroll-bar:horizontal:pressed .track ,
.scroll-pane .scroll-bar:vertical:hover .track,
.scroll-pane .scroll-bar:vertical:pressed .track{
    -fx-background-color: derive(#434343,20%);
    -fx-opacity: 0.2;
    -fx-background-radius: 0em;
}

.vbox {
    -fx-background-color: #3d80c9;
}

.hbox {
    -fx-background-color: #3d80c9;
}

.list-cell {
    -fx-background-color: none;
    -fx-border-width: 0em;
    -fx-cell-size: 30;
    -fx-text-fill: black;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #d2204a;
    -fx-border-color: none;
    -fx-border-width: 0em;
    -fx-text-fill: white;
}

/** CSS **/
.list-view {
    -fx-border-color:derive(rgb(128, 128, 128), 80%);
}

/* The main scrollbar CSS class of ListView */
.list-view .scroll-bar:horizontal ,
.list-view .scroll-bar:vertical{
    -fx-background-color:transparent;
}

/* The increment and decrement button CSS class of scrollbar */
.list-view .increment-button ,.list-view .decrement-button {
    -fx-background-color:transparent;
    -fx-border-color:derive(rgb(128, 128, 128),80%);
}

/* The main scrollbar **track** CSS class  */
.list-view .scroll-bar:horizontal .track ,
.list-view .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color:derive(rgb(128, 128, 128),80%);
    -fx-background-radius: 0em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.list-view .scroll-bar:horizontal .thumb,
.list-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;
}

/* ------------------------------------------------------------------------------------- */
/** EVENT CSS **/
/* ------------------------------------------------------------------------------------- */

/* The main scrollbar **track** CSS class on event of "hover" and "pressed" */

.list-view .scroll-bar:horizontal:hover .track ,
.list-view .scroll-bar:horizontal:pressed .track ,
.list-view .scroll-bar:vertical:hover .track,
.list-view .scroll-bar:vertical:pressed .track{
    -fx-background-color: derive(#434343,20%);
    -fx-opacity: 0.2;
    -fx-background-radius: 0em;
}

/* The main scrollbar **thumb** CSS class on event of "hover" and "pressed" */
.list-view .scroll-bar .thumb:hover,
.list-view .scroll-bar .thumb:pressed{
    -fx-background-color: derive(black,50%);
}

.list-view .increment-button:hover ,.list-view .decrement-button:hover {
    -fx-background-color:derive(rgb(128, 128, 128),100%);
    -fx-border-color:derive(rgb(128, 128, 128),80%);
    -fx-padding:10px;
}