/* your-styles.css */
.anchor_pane {
    -fx-background-color: #0a092d;
}
.card_pane {
    -fx-background-color: #2e3856;
}
.text-area {
    -fx-alignment: center;
    -fx-control-inner-background: #2e3856;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-content-display: center;
}
.label {
    -fx-text-fill: white;
}