/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* GENERAL
   This can be changed later, all colors are in HEX
   Right now, the buttons are toggle button but can be changed to normal button
*/

/*  Button on dashboard */
.fontawesome-icon {
    -fx-fill: #53535e;
}

.button {
    -fx-background-color: none;
    -fx-background-radius: 0em;
    -fx-text-fill: black;
}

.button:hover {
    -fx-background-color: #6a777e;
}

.button:pressed {
    -fx-background-color: #6a777e;
    -fx-border-color: #505050;
    -fx-border-width: 0px 0px 0px 3px;
}

#button {
    -fx-background-color: #6a777e;
    -fx-border-color: #505050;
    -fx-border-width: 0px 0px 0px 3px;
}


/*.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: #3d80c9;
    -fx-background-radius: 0em;
}*/

/*  Text field   */
.searchBox {
    -fx-background-color: none;
    -fx-background-radius: 2em;
}

/*.hbox:focused {
    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-color: #3d80c9;
}*/

.vbox {
    -fx-background-color: #F1F1F1;
}

.hbox {
    -fx-background-color: #3d80c9;
}

.button-bar {
    -fx-background-color: #2b76bd;
}

.list-view .list-cell {
    -fx-cell-size: 30;
    -fx-alignment: center-left;
    -fx-text-fill: black;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

/* Up down arrow button on scroll bar */
.list-view .increment-button, .list-view .decrement-button {
    -fx-background-color: transparent;
}

.list-view .increment-button:pressed, .list-view .decrement-button:pressed {
    -fx-background-color: derive(#3d80c9, 90%);
}

/*  SCROLL BAR */

/* Scroll bar track (background) */
.list-view .scroll-bar:horizontal .track,
.list-view .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: derive(#3d80c9, 90%);
    -fx-background-radius: 0em;
    -fx-boder-radius: 0em;
}

/* Scroll bar thumb (scroll button to drag) */
.list-view .scroll-bar:horizontal .thumb,
.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: derive(#3d80c9, 90%);
    -fx-background-radius: 0em;
    -fx-background-insets: 0em;
}

/* Toggle button */
.toggle-button {

}



