/*  Button on dashboard */
.fontawesome-icon {
    -fx-fill: #F4F4F4;
}

.button {
    -fx-background-color: none;
    -fx-background-radius: 0em;
    -fx-text-fill: white;
}

.button:hover {;
    -fx-background-color: #5691d0;
    -fx-background-radius: 0.5em;

}

#button {
    -fx-background-color: #5691d0;
    -fx-border-color: darkblue;
    -fx-border-width: 0px 4px 0px 0px;
}

.vbox {
    -fx-background-color: #3d80c9;
}

.hbox {

    -fx-background-color: #3d80c9;
}

.toggle-button {
    -fx-background-color: #3d80c9;
    -fx-text-fill: white;
}

.toggle-button:selected {
    -fx-background-color: #5691d0;
    -fx-text-fill: white;
}